body
{
    background:url(../images/webback.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.Header
{
    display:flex;
    justify-content:space-between;
    width:950px;
    margin:auto;
    margin-top:50px;
    line-height:100px;
    background:linear-gradient(#ECEDEF,#FCFCFC);
    align-items:center;
    padding-left:30px;
    padding-right:30px;
    border-radius:5px;
    border:solid black;
}

i
{
    color:black;
}

i:hover
{
    color:lightseagreen;
}


form
{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:550px;
}

.Search
{
    height:25px;
}

.input
{
    height:50px;
    width:250px;
    border:solid black;
    border-radius:5px;
}

.Products
{
    width:1000px;
    border:solid black;
    margin:auto;
    margin-top:50px;
    min-height:550px;
    background:linear-gradient(#ECEDEF,#FCFCFC);
    border-radius:5px;
    padding-top:50px;
    padding-left:50px;
    padding-right:50px;
}

.ProductCard
{
    height:350px;
    width:300px;
    border-radius:15px;
    background-size:100% 120%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    box-shadow:1px 1px 4px 4px rgb(0,0,0,0.4);
    cursor:pointer;
    overflow:hidden;
}

.red
{
    position:relative;
    height:250px;
    width: 250px;
    border-radius:250px;
    top:-30%;
    left:55%;
    box-shadow:1px 1px 4px 4px rgb(0,0,0,0.4);

}

.item
{
    height:250px;
    width:250px;
    position:relative;
    top:-50%;
    left:-15%;
    z-index:5;
    
}

.logo
{
    height:50px;
    width:100px;
    position:relative;
    top:-140%;
    left:10%;
    z-index:0;
}

.description
{
    color:white;
    position: relative;
    top:-150%;
    font-size:1.3em;
    left:53%;
    font-weight:bold;
    width:150px;
    text-align:center;
}
.size
{
    position: relative;
    top:-110%;
    font-size:1.2em;
    left:50%;
    color:black;
}

.achat
{
    position:relative;
    top:-130%;
    width:150px;
    left:50%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction:column;
}

label
{
    color:black;
}

select
{
    background:none;
    border:none;
    font-size:1.2em;
    font-weight:bold;
    color:black;
}

.color
{
    height:20px;
    width:20px;
    border-radius:5px;
    background:black;
    margin-left:35px;
}

#red
{
    background:red;
}
#black
{
    background:black;
}
#yellow
{
    background:yellow;
}

.colors
{
    width:350px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position:relative;
    left:-40%;
}

label
{
    font-size:1.2em;
    font-weight:bold;
}

.confirmer
{
    color:red;
    border:solid red 1px;
    border-radius:5px;
    text-transform: uppercase;
    font-weight:bold;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    position:relative;
    top:200%;
    left:-300%;
    width:140px;
}


.confirmer:hover
{
    background:red;
    color:white;
}

.Quantite
{
    border:none;
    color:black;
    position:relative;
    left:25%;
}
.QuantiteInput
{
    
    color:black;
    font-size:1.2em;
    position:relative;
    left:25%;
    height:25px;
    width:60px;
    
}

.QuantiteDiv
{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    width:250px;

}